/*------------------------------------*\
    Variables
\*------------------------------------*/
/**
 * Colours
 */
$text-color:		#222;

$accent-color:	#01a5ca;

$dark: 					#3a3a3a;
$light-grey:    #e5e5e5;


/**
 * Font sizes
 */
$base-font-size:    18px;
$base-line-height:  $base-font-size * 1.5;

$h1-size:           23px; // Strapline
$h2-size:           47px;
$h3-size: 					29px;
$h4-size: 					23px;
$h5-size: 					$base-font-size;

$milli-size:        14px;
$micro-size:        12px;


/**
 * Font faces
 */
$body-face:		"freight-sans-pro", "Gill Sans", sans-serif;
$alt-face:		"freight-display-pro", serif;


/**
 * Framework
 */
$base-spacing-unit:	$base-line-height;
$half-spacing-unit:	$base-spacing-unit / 2;
$line-height-ratio: $base-line-height / $base-font-size;