/*------------------------------------*\
    Buttons
\*------------------------------------*/

.btn{
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 3;
  padding-right: 1em;
  padding-left: 1em;

  background: $dark;
  color: #fff;

  border-radius: 4px;

  letter-spacing: 0.05em;

  @include max-screen(480px){
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    white-space: normal;
    line-height: 1.6;
    font-size: 16px;
  }
}

.btn{

  &,
  &:hover{
    text-decoration:none;
  }

  &:hover{
    background: darken($dark, 10%);
  }

  &:active,
  &:focus{
    outline:none;
  }
}

.btn--full{
  width: 100%;
  text-align: center;
}