/*------------------------------------*\
    Footer
\*------------------------------------*/

footer{
	margin-top: $base-spacing-unit*2;
	margin-top: 2rem;
	font-size: 0.9em;

	@include max-screen(1023px){
		text-align: center;
	}

	@include min-screen(1024px){
		margin-top: $base-spacing-unit*3;
		margin-top: 3rem;

		.btn{
			font-size: $h4-size;
		}
	}

	.colophon{
		@extend .grid__item;
		@extend .three-fifths;
		@extend .portable--one-whole;
		margin-bottom: $base-spacing-unit;
		margin-bottom: 1rem;
	}
}