<section class="band">
  <div class="container">
    <h2>Developer?</h2>
    <p>Here's a few things about this website you might find interesting.</p>
    <ul class="listy listy--code">
      <li><strong>Variable fonts</strong><br>The Inter typeface is provided as a Variable Font allowing the use of <code>font-variation-settings</code> and improved performance.</li>
      <li><strong>Dark mode</strong><br>Automatically adjusts to dark mode if set by your operating system.</li>
      <li><strong>CSS Custom Properties</strong><br>Variables in CSS. Yep, we finally got there.</li>
      <li><strong>CSS Grid</strong><br>No more <code>float</code>s and <code>:last-child</code> hacks.</li>
      <li><strong>Flyweight</strong><br>The homepage weights in at a paltry 156Kb gzipped!</li>
      <li><strong>View source</strong><br>Take a look at the source code for this website on <a href="https://github.com/colourgarden/colourgarden.github.com" target="_blank">GitHub</a>.</li>
    </ul>
  </div>
</section>
