<header class="site-header" role="banner">
  <div class="container">
    <nav class="primary-nav" role="navigation">
      <a class="primary-nav__link" href="https://github.com/colourgarden" target="_blank">GitHub</a>
      <a class="primary-nav__link" href="https://twitter.com/colourgarden" target="_blank">Twitter</a>
      <a class="primary-nav__link" href="https://www.linkedin.com/in/tom-h-5399b776" target="_blank">LinkedIn</a>
      <a class="primary-nav__link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%74%6F%6D%40%63%6F%6C%6F%75%72%67%61%72%64%65%6E%2E%6E%65%74">Email</a>
    </nav>
  </div>
</header>
