
<div class="services-nav">
	<h3>Other services</h3>
	<ul>
		<li><a href="/front-end-development" class="fed{% if page.service == "fed" %} current{% endif %}" data-icon="&#xe002;">Front end development</a></li>
		<li><a href="/responsive-web-design" class="rwd{% if page.service == "res" %} current{% endif %}" data-icon="&#xe003;">Responsive web design</a></li>
		<li><a href="/wordpress-and-cms-integration" class="cms{% if page.service == "cms" %} current{% endif %}" data-icon="&#xe001;">Wordpress and CMS integration</a></li>
		<li><a href="/process-and-strategy" class="pro{% if page.service == "pro" %} current{% endif %}" data-icon="&#xe000;">Process and strategy&nbsp;</a></li>
	</ul>
</div>