/**
 * Site header.
 */

.site-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;

  @media (min-width: 500px) {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  > .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}


/**
 * Primary nav.
 */

.primary-nav__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  & + & {
    margin-left: 1em;
  }
}
