/**
 * Homepage intro.
 */

.hero {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.intro {
  margin-bottom: 2.5rem;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-gap: 2rem;
    align-items: center;
  }
}

.intro__img {
  position: relative;

  @media (max-width: 499px) {
    max-width: 35%;
  }

  @media (max-width: 799px) {
    float: right;
    max-width: 27.5%;
    margin-bottom: calc(3rem / 4);
    margin-left: calc(3rem / 4);
  }

  @media (min-width: 800px) {
    order: 1;

    &:after {
      content: '';
      position: absolute;
      top: -15%;
      left: 22%;
      background: var(--body-color);
      width: 1px;
      height: 200px;
      transform: rotate(50deg);
    }
  }
}

.intro__body {
  font-size: var(--h5-size);
  font-weight: 480;
}

.avatar {
  margin: 0;
}

.avatar__img {
  width: 100%;
  max-width: 200px;
  border-radius: 100%;
}

.hello {
  margin-bottom: 0.5em;
  font-size: calc(2rem * var(--text-scale));
  font-weight: 840;
  line-height: 1.1;
  letter-spacing: -0.022em;
  color: var(--c-primary);

  @media (min-width: 500px) {
    font-size: calc(3rem * var(--text-scale));
  }

  @supports (-webkit-background-clip: text) {
    -webkit-background-clip: text;
    background-image: linear-gradient(-45deg, #ffaaab, #ee7752, #e73c7e, #f8e9a1);
    background-size: 400% 400%;
    color: transparent;
    animation: gradientBg 10s ease infinite;

    @keyframes gradientBg {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}
