/**
 * Lists split into columns.
 */

:root {
  --listy-gap: 2rem;
}

.listy {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--listy-gap) / 2) var(--listy-gap);
  margin: 0 0 var(--listy-gap);
  list-style: none;

  @media (min-width: 420px) {
    grid-template-columns: 1fr 1fr;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    position: relative;
    padding-left: calc(var(--listy-gap) * 0.85);

    @media (min-width: 500px) {
      padding-left: var(--listy-gap);
    }

    // List icon.
    &:before {
      position: absolute;
      left: 0;
      font-size: 20px;
      line-height: 1.15;
      content: "\2022";
    }
  }
}

.listy--heart li:before {
  content: "\2661";
  color: #f76c6c;
}

.listy--up li:before {
  content: "\2191";
  color: #4fae49;
}

.listy--tick li:before {
  content: "\2713";
}

.listy--tools li:before {
  content: "\2192";
}

.listy--code li:before {
  font-size: 18px;
  font-weight: 450;
  content: "\003C\003E";

  @media (max-width: 499px) {
    line-height: 0.9;
  }
}
