/**
 * Load webfonts.
 */

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/assets/fonts/Inter-upright.var.woff2) format('woff2');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(/assets/fonts/Inter-italic.var.woff2) format('woff2');
}
